:root {
  font-family: "Quicksand", sans-serif;
  background-color: rgb(250, 249, 247);
  --bg-color: rgb(250, 249, 247);
  --main-font-color: black;
  --margin-top-1em: 1em;
  --box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  --border-color: rgba(243, 241, 237, 255);
  --color-white: white;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2em;
}

.margins-all {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
}
